@using Microsoft.AspNetCore.Identity
@using VianorKyustendil.Data.Models
@using VianorKyustendil.Web.Services.HomeServices
@inject SignInManager<VianorKyustendilUser> SignInManager
@inject UserManager<VianorKyustendilUser> UserManager
@inject IVianorServices VianorServices
@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Home" asp-action="Membership">Membership</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a></li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Logout</button>
        </form>
    </li>
}
else
{
    if (VianorServices.AreWeHiring)
    {
        <li><a asp-area="Identity" asp-page="/Account/Register">Apply</a></li>

    }

    <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
}