@import url('typography.css');
@import url('logo.css');
.container {
    max-width: 70rem;
    margin: 0 auto;
}

.site-header {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-bottom: 1px solid #e5e5e5;
}


    .site-header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .site-header a {
        text-decoration: none;
        color: #6c757d;
    }

    .site-header nav ul {
        display: flex;
        align-items: center;
    }

        .site-header nav ul li {
            display: inline-block;
            padding: 0.5rem 1rem;
        }

            .site-header nav ul li form button {
                border: none;
                background: #fff;
                color: #6c757d;
                font-size: inherit;
            }


@media all and (max-width: 400px) {
    .site-header nav ul > li {
        flex-basis: 100%;
    }
    .site-logo {
        order: 1;
    }
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e5e5e5;
    color: #6c757d;
}

    footer .site-footer a {
        color: #007BFF;
        text-decoration: none;
    }

