@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
            <h1 class="logo-text">V<span class="i-letter-font">I</span>ANOR &nbsp;&nbsp; KYUSTENDIL</h1>
        </div>
</div>
