@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<div>       
        <img class="logo-svg" src="images/vianor-logo-txt.svg"/> <h1 class="logo-text">V<span class="i-letter-font">I</span>ANOR &nbsp;&nbsp; KYUSTENDIL</h1>
    </div>*@
</div>
