@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>@ViewBag.ProductsCount</h2>

<p>Use this page to detail your site's privacy policy.</p>


<h1>Welcome to Vianor Kyustendil</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat vel justo at convallis. Maecenas nec semper orci. Nam sem lectus, auctor non efficitur non, placerat eget nibh. Ut malesuada fringilla suscipit. Donec blandit, est eleifend vulputate facilisis, metus odio vestibulum erat, quis feugiat libero magna id leo. Mauris sollicitudin blandit ornare. Ut sed dictum mauris, eget elementum orci.

    Curabitur viverra erat vitae eros efficitur, a hendrerit erat consequat. Curabitur bibendum finibus tellus non congue. Vestibulum condimentum dictum ipsum, ac sodales massa tempor eu. Quisque non massa a leo blandit varius. Ut id justo eget mauris tincidunt ullamcorper. Fusce eget tristique neque. Nunc vitae pellentesque arcu, at pretium urna. Nullam massa nunc, lobortis rutrum ullamcorper sed, auctor non ex. Sed eu leo vel neque luctus tristique dignissim et nunc. Etiam ac ornare elit. Vestibulum ac sem scelerisque lectus elementum commodo. Suspendisse maximus ornare turpis, consequat vehicula orci laoreet id.</p>